body{
    background-color: #ECE7E1;
}
p{
    margin: 0px;
    padding: 0px;

}
.dot{
    background-color: rgb(161, 161, 161);
    border:1px rgb(161, 161, 161);
    border-radius: 100%;
    /* width:1vh;
    height: 1vh; */
    width:7px;
    height: 7px;

    position: relative; 
    z-index: 2;
    /* margin: 0.1vh; */
}
.img{
    content: url(img/cherry.png);
    position: absolute; 
    z-index: 1;
    /* width: 50vh; */
    width: 385px;
    
    border-radius: 2vh;
    border: solid 1px black;
    align-items: center;

}
.card{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* margin-top:10vh; */
    /* margin-left:60vh; */
    /* flex-wrap: nowrap;
    flex-direction: row; */
}
.dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2.6vh;
    /* margin-top: 16vh; */
    margin-top: 122px;

    flex-direction: column;
    width:15vh;
}
.num{ 
    position: relative; 
    z-index: 2;
}
.column{
    display: flex;
}
/* #dot1{
    margin-right:2vh;
    margin-left: 0.5vh;
}
#dot5{
    margin-left:7.5vh;
    margin-top: -1vh;
}
#dot2{
    margin-right: 3.3vh;
}
#dot4{
    margin-left: 3.5vh;
    margin-top: -1vh;
}
#dot3{
    margin: 0vh 3.5vh;
}
#num1{
    margin-right: 6vh;
}
#num5{
    margin-left: 6vh;
    margin-top: -1vh;
}
#num4{
    margin-top: -1vh;
} */
#dot1{
    margin-right:17px;
}
#dot5{
    margin-left:56px;
    margin-top: -7px;
}
#dot2{
    margin-right: 25px;
}
#dot4{
    margin-left: 25px;
    margin-top: -7px;
}
#dot3{
    margin: 0px 25px;
}
#num1{
    margin-right: 45px;
}
#num5{
    margin-left: 45px;
    margin-top: -7px;
}
#num4{
    margin-top: -7px;
}
