body{
    background-color: #ECE7E1;
    
    font-family:'Malgun Gothic';
    font-size:12pt;
    margin: 0px;
    padding: 0px;

}
.cards{
    display: flex;
    justify-content: center;
}
img{
    width: 150px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}